<h3> Search for friends </h3>

<div id="friend-lookup">
<%= form_tag( search_friends_path, remote: true, method: :get, id: 'friend_lookup_form') do %>
    <div class="form-group  row no-padding text-center col-md-12">
        <div class="col-md-10">
          <%= text_field_tag :friend, params[:friend],placeholder: 'Friend Name or Email', 
                            autofocus: true, class: "form-control search-box input-lg" %>
        </div>
        <div class="col-md-2">
            <%= button_tag(type: :submit, class: "btn btn-lg btn-success") do %>
                <i class="fa fa-search"  aria-hidden="true"></i> Find Friend
            <%end%>
        </div>
    </div>
<% end %>
</div>


